{% extends "base.html" %}

{% block content  %}
    
    <h1>Create New Post</h1>
    <hr>
    
    <form action='/newpost' method=POST id='blogpost'>
        
        <label>
            Post Title:
            <input type='text' name='blog_title' value='{{blog_title}}'>
        </label>
        
        <p class='error'>{{title_error}}</p>
        
        <label>
            Post Body:
            <textarea name='blog_body' value='{{blog_body}}' form='blogpost'></textarea>
        
        </label>
        
        <p class='error'>{{body_error}}</p>
        
        <input type="submit" value='Create Post'>
    </form>

{% endblock  %}