{% extends "base.html" %}

{% block content %}

    <h1>Signup</h1>
    <hr>

    <form action='/signup' method=POST>
        
        <label>
            Username:
            <input type='text' name='username' value='{{username}}'>
        </label>

        <br>
        
        <label>
            Password:
            <input type='password' name='password'>
        </label>
        
        <br>

        <label>
            Verify Password:
            <input type='password' name='verify_password'>
        </label>
        
        <br>
        
        <input type="submit" value='Signup'>
    </form>

{% endblock %}