{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<form action='/signup' method=POST>
    <label>
        Username:
        <input type='text' name='username' value='{{username}}'>
    </label>
    <p class='error'>{{username_error}}</p>
    <label>
        Password:
        <input type='password' name='password'>
    </label>
    <label>
    Verify Password:
    <input type='password' name='verify_password'>
    </label>
    <p class='error'>{{password_error}}</p>
    <input type="submit" value='Signup'>
</form>



{% endblock %}